.card-index {
  height: 300px;
  width: 100%;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  padding: 10px;
}

.card-index h2 {
  font-size: 20px;
  font-weight: bold;
  color: $white;

}
